@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
:root {
  --animate-duration: 2s;
}

body {
  background-color: #EDF1F2;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: 'Poppins', sans-serif;
  color: #403939;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  margin-bottom: 7px;
  color: #403939;
}

p {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: #7e8388;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.form-select:focus {
  border-color: #ced4da !important;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.log-wrap {
  position: relative;
}

.log-wrap .log-bg {
  background-image: url(../../images/LoginBg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 100% 100%;
  height: 100vh;
}

.log-wrap .card-img {
  text-align: center;
}

.log-wrap .card-img img {
  width: auto;
}

.log-wrap .input-group-text {
  position: absolute;
  left: 0;
  z-index: 1;
  border: 0;
  border-radius: 0;
  padding: 0.6rem .75rem;
  background-color: transparent;
  color: #a1aab3;
  height: 45px;
}

.log-wrap .input-group-prepend {
  position: relative;
  z-index: 100;
}

.log-wrap .input-group-prepend::after {
  content: '';
  border-right: 1px solid #a1aab3;
  top: 9px;
  right: -37px;
  position: absolute;
  height: 26px;
  z-index: 100;
}

.log-wrap .log-card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 9%;
}

.log-wrap .card {
  padding: 2rem;
  padding-top: 1rem;
  border-radius: 25px;
  -webkit-box-shadow: 0 42px 46px 0 rgba(0, 0, 0, 0.39);
          box-shadow: 0 42px 46px 0 rgba(0, 0, 0, 0.39);
}

.log-wrap .card-body {
  padding: 1rem 1rem;
}

.log-wrap .card-txt {
  padding: 0 1rem;
}

.log-wrap h1 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.log-wrap .form-control {
  border-radius: 12px;
  height: 45px;
  padding-left: 45px;
  font-size: 15px;
}

.log-wrap .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.log-wrap .btn-primary {
  border-radius: 12px;
  height: 45px;
  font-size: 18px;
}

.log-wrap a {
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.log-wrap a:hover {
  text-decoration: underline !important;
  color: #2196f3 !important;
  cursor: pointer;
}

.head-wrap {
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: fixed;
  width: calc(100% - 12rem);
  height: 95px;
  top: 0;
  left: 0;
  right: 0;
  margin-left: 12rem;
}

.head-wrap .nav-title {
  font-size: 23px;
  font-weight: 500;
  color: #403939;
  margin-top: 26px;
  padding-left: 8px;
}

.head-wrap .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8px 0;
}

.head-wrap .dropdown .dropdown-item,
.head-wrap .dropdown .btn {
  font-size: 15px;
}

.head-wrap .dropdown img {
  height: 50px;
  margin-left: 14px;
}

.head-wrap .dropdown .dropdown-item.active, .head-wrap .dropdown .dropdown-item:active {
  background-color: #1890A2;
}

.head-wrap .dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
}

.head-wrap .dropdown-menu.show {
  -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.05);
}

.head-wrap .dropdown-item {
  padding: .75rem 1rem;
}

.head-wrap .dropdown-item i {
  margin-right: 6px;
  color: #1890A2;
}

.head-wrap .dropdown-item:active i {
  color: #ffffff;
}

#sidebar-wrapper {
  min-height: 100vh;
  -webkit-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

.side-card {
  position: fixed;
  top: 0;
  width: 12rem;
  background-color: #082D33;
}

.side-card .side-icon {
  text-align: center;
  padding: 15px 15px 15px 5px;
}

.side-card .side-icon .s-logo {
  height: 63px;
}

.side-card .list-group {
  margin-top: 20px;
}

.side-card .list-group a.list-item.list-action {
  text-decoration: none;
  padding: 20px 20px 20px 43px;
  font-size: 14px;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.side-card .list-group a.list-item.list-action:hover {
  background-color: #0C4651;
}

.side-card.mob-menu {
  position: absolute;
  z-index: 130;
  margin-left: 0;
}

.main-wrap {
  margin-left: 12rem;
  padding: 8px;
  padding-top: 8rem;
  width: calc(100% - 12rem);
  height: 100%;
  background-color: #EDF1F2;
}

.btn:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.btn.menu-btn {
  background-color: #082D33;
  color: #ffffff;
  margin-top: 8px;
}

.btn.btn-primary {
  width: 100%;
  background-color: #F79714;
  border: 0;
  height: 45px;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: unset;
}

.btn.btn-primary:hover {
  background-color: #f1800b;
}

.btn.btn-primary:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.btn.back-btn {
  background-color: #dde0e3;
  font-size: 14px;
  padding: 4px 14px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.btn.back-btn i {
  margin-right: 5px;
}

.btn.back-btn:hover {
  background-color: #d2cece;
}

.btn.btn-outline-secondary {
  width: 100%;
  height: 45px;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: unset;
}

.menu-tab {
  display: none;
}

.form-group,
.input-group {
  margin-bottom: 25px;
}

.card {
  border: 0;
  border-radius: 15px;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 17px;
  color: #403939;
}

.card-body {
  padding: 2rem;
}

.form-control {
  height: 45px;
  font-size: 15px;
}

.form-control:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border-color: #ced4da;
}

.top-btn {
  position: fixed;
  top: 49px;
  z-index: 100;
  left: -1px;
  margin-left: 13rem;
  display: none;
}

.form-label {
  font-size: 15px;
  font-weight: 500;
}

.curs-point {
  cursor: pointer;
}

.lt-2 {
  line-height: 2;
}

.file-wrap .input-group {
  margin-bottom: 10px;
}

.file-wrap .file-box {
  margin-bottom: 27px;
}

.file-wrap .file-box a {
  text-decoration: underline;
  color: #2196f3;
  font-size: 14px;
}

.file-wrap .file-box a:hover {
  text-decoration: underline;
  color: #2196f3;
  cursor: pointer;
}

.file-wrap .file-box i {
  color: #2196f3;
}

.custom-file-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.custom-file-button input[type="file"] {
  padding-left: 6rem;
  line-height: 2.2;
}

.custom-file-button input[type="file"]::-webkit-file-upload-button {
  display: none;
}

.custom-file-button input[type="file"]::file-selector-button {
  display: none;
}

.custom-file-button:hover label {
  background-color: #dde0e3;
  cursor: pointer;
}

.custom-file-button .input-group-text {
  position: absolute;
  top: 4.3px;
  left: 4px;
  border-radius: 0;
  border: 0;
}

.canvasjs-chart-credit {
  display: none;
}

.bar-card {
  margin-bottom: 20px;
}

.bar-card .card-header {
  background-color: #1893A5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bar-card .card-header:first-child {
  border-radius: calc(1.25rem - 5px) calc(1.25rem - 5px) 0 0;
}

.bar-card .card-header h5 {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 8px;
}

.bar-card .card-header .btn.btn-primary {
  width: 100px;
  height: 35px;
  margin: 0;
}

.home-wrap .card-txt {
  margin-bottom: 15px;
}

.home-wrap .card-txt h6 {
  font-size: 14px;
}

.home-wrap .card-txt h3 {
  font-size: 16px;
  font-weight: 500;
}

.home-wrap .card-box {
  border: 1px solid #bcbcbc;
  border-radius: 10px;
  padding: 25px;
}

.table {
  font-family: 'Roboto', sans-serif;
  border: 1px solid #d2cece;
}

.table th {
  font-size: 16px;
  font-weight: 500;
  color: #403939;
  padding-top: 15px;
  padding-bottom: 15px;
}

.table td {
  font-size: 14px;
  border-bottom-width: 0;
  padding-top: 12px;
  padding-bottom: 12px;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #d2cece;
}

.qa-table .table,
.home-table .table,
.emp-table .table {
  border: 0;
}

.qa-table th,
.qa-table td,
.home-table th,
.home-table td,
.emp-table th,
.emp-table td {
  padding-left: 15px;
}

.qa-table thead,
.home-table thead,
.emp-table thead {
  background-color: #1893A5;
}

.qa-table thead th,
.home-table thead th,
.emp-table thead th {
  color: #ffffff;
}

.qa-table thead th:first-child,
.home-table thead th:first-child,
.emp-table thead th:first-child {
  border-top-left-radius: 15px;
}

.qa-table thead th:last-child,
.home-table thead th:last-child,
.emp-table thead th:last-child {
  border-top-right-radius: 15px;
}

.qa-table tbody tr,
.home-table tbody tr,
.emp-table tbody tr {
  border-bottom: 0.5px solid #d2cece;
}

.qa-table tbody tr:last-child,
.home-table tbody tr:last-child,
.emp-table tbody tr:last-child {
  border-bottom: 0;
}

.icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-box .edit {
  color: #3dd63d;
  margin-right: 10px;
}

.icon-box .del {
  color: #f93939;
}

.home-table {
  margin-bottom: 20px;
  margin-top: 30px;
}

.home-table .fa-arrow-up {
  color: #3dd63d;
}

.home-table .fa-arrow-down {
  color: #f93939;
}

.qa-table {
  margin-top: 20px;
}

.alert-box {
  position: relative;
  z-index: 100;
}

.alert-box .alert {
  position: fixed;
  right: 0;
  left: 0;
  width: 420px;
  margin: auto !important;
  top: 24px;
}

.alert-box i {
  margin-right: 10px;
}

.alert-box .alert-dismissible {
  padding-right: 5rem;
}

.alert-box .btn-close {
  font-size: 13px;
}

.alert-box .btn-close:focus {
  outline: unset;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.page-box {
  margin-top: 20px;
}

.page-box .pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-box .page-link {
  margin: 5px 7px;
  border-radius: 10px !important;
  border: 2px solid #d2cece;
  background-color: inherit;
  color: #403939;
  width: 30px;
  height: 30px;
  padding: 0;
  text-align: center;
  line-height: 2;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  font-size: 14px;
}

.page-box .page-link:hover {
  border: 2px solid #1893A5;
  background-color: #ffffff;
}

.page-box .page-link.arrow {
  border: 2px solid transparent;
}

.page-box .page-link.arrow:hover {
  border: 2px solid #1893A5;
}

.search-box {
  position: relative;
  -webkit-box-shadow: 0 0 17px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 17px rgba(0, 0, 0, 0.07);
  width: 400px;
  margin-bottom: 25px;
  border-radius: 8px;
}

.search-box .form-control {
  border: 0;
  border-radius: 8px;
  padding-right: 53px;
}

.search-box .btn {
  position: absolute;
  right: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.search-box .btn i {
  color: #a1aab3;
}

.modal-dialog {
  -webkit-box-shadow: 0 42px 46px 0 rgba(0, 0, 0, 0.39);
          box-shadow: 0 42px 46px 0 rgba(0, 0, 0, 0.39);
}

.modal-content {
  padding: 2rem 0.5rem;
  border: 0;
}

.modal-body {
  text-align: center;
}

.modal-body h1 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 13px;
  margin-top: 25px;
  color: #403939;
}

.modal-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 0;
}

.modal-footer .btn.btn-primary {
  width: 35%;
}

.modal-footer .btn.btn-secondary {
  width: 35%;
  height: 45px;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .log-wrap .card {
    padding: 1rem;
    margin: 10px;
  }
  .log-wrap .log-card {
    margin-top: 25%;
  }
  .head-wrap .d-flex {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .head-wrap .d-flex img {
    height: 40px;
    margin-left: 8px;
  }
  .head-wrap .nav-title {
    font-size: 16px;
  }
  .head-wrap .d-flex h5 {
    font-size: 14px;
    margin-top: 10px;
  }
  .head-wrap {
    width: 100%;
    margin: auto;
  }
  .main-wrap {
    width: 100%;
    margin-left: 0;
  }
  .menu-tab {
    display: block;
    padding-right: 0;
    padding-left: 8px;
  }
  .menu-trans {
    margin-left: -12rem;
  }
  .top-btn {
    margin-left: 0;
    left: 20%;
  }
  .btn.menu-btn {
    margin-top: 0;
    border-radius: 2px;
  }
  .btn.menu-btn i {
    font-size: 25px;
    padding: 20px 5px;
  }
  .mr-bot {
    margin-bottom: 30px;
  }
  .pd-lft {
    padding-left: 0;
  }
  .head-wrap .dropdown .btn {
    font-size: 14px;
    padding-right: 0;
    padding-left: 0;
  }
  .head-wrap .dropdown img {
    height: 40px;
    margin-left: 5px;
  }
  .head-wrap .dropdown-menu.show {
    padding-left: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .log-wrap .log-card {
    margin-top: 34%;
  }
  .pd-lft {
    padding-left: 0;
  }
}

@media screen and (max-width: 992px) {
  .log-wrap .log-bg {
    background-size: cover;
    background-position: unset;
  }
  .mr-bot {
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */