<!DOCTYPE html>
{%extends 'base.html'%}
{%load static%}
{%block content%}
<html lang="en">

<head>
    <title>Form</title>
    <!-- Favicon -->
    <!-- End Fontawesome Link -->
</head>

<body>
    <div class="page-wrap">
        <!-- Sidebar -->
        <div id="sidebar-container"></div>

        <div id="page-content-wrap">
            <!-- Header -->
            <div id="header"></div>

            <!-- Main page content -->
            <div class="main-wrap">
                <!-- <div class="top-btn">
                    <button class="btn back-btn">
                        <i class="fa-solid fa-arrow-left"></i>
                        Back
                    </button>
                </div> -->
                <div class="container-fluid">
                    <div class="col-12 col-xl-11">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Fill the form below</h2>
                                <form method="post" action="{%url 'entity_users:client_user1'%}">
                                    {% csrf_token %}
                                    <div class="col-12 col-xl-8">
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <div class="input-group">
                                                    <input type="text" placeholder="First Name" name="firstname"
                                                        id="firstname" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="input-group">
                                                    <input type="text" placeholder="Last Name" name="lastname"
                                                        id="lastname" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="input-group">
                                                    <input type="text" placeholder="Email" name="email" id="email"
                                                        class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="input-group">
                                                    <input type="text" placeholder="Phone Number" name="phone"
                                                        id="phone" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="input-group">
                                                    <input type="password" placeholder="Password" name="password"
                                                        id="password" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="input-group">
                                                    <input type="password" placeholder="Confirm Password"
                                                        name="confirm password" id="confirm password"
                                                        class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="input-group">
                                                    <input type="text" placeholder="Job Title" name="job title"
                                                        id="job title" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="input-group">
                                                    <input type="text" placeholder="Region" name="region" id="region"
                                                        class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-5 col-xl-3">
                                                <div class="input-group">
                                                    <button class="btn btn-primary">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Script -->

</body>

</html>
{% endblock %}