<!DOCTYPE html>
{%extends 'base.html'%}
{%block content%}
<html lang="en">
<head>

</head>

<body>
    <div class="page-wrap">
        <!-- Sidebar -->
        <div id="sidebar-container"></div>

        <div id="page-content-wrap" class="home-wrap">
            <!-- Header -->
            <div id="header"></div>

            <!-- Main page content -->
            <div class="main-wrap">
                <!-- <div class="top-btn">
                    <button class="btn back-btn">
                        <i class="fa-solid fa-arrow-left"></i>
                        Back
                    </button>
                </div> -->
                <div class="container-fluid">
                    <div class="col-12 col-xl-11">
                        <div>
                            <div class="d-flex justify-content-between">
                                <div class="search-box">
                                    <form method="get" action="{% url 'employees:view_employee' %}">
                                        <input type="text" class="form-control" placeholder="Search User by First name or Last name" name="search">
                                        <button class="btn"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                                <div>
                                    <a class="btn btn-primary lt-2" href="{% url 'employees:upload_files' %}">Upload Data</a>
                                </div>
                            </div>
                            {% if emp_data %}
                            <div class="card emp-table">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">First name</th>
                                                <th scope="col">Last name</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Phone number</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in emp_data %}
                                            <tr>
                                                <td>{{i.first_name}}</td>
                                                <td>{{i.last_name}}</td>
                                                <td>{{i.email}}</td>
                                                <td>{{i.phone_number}}</td>
                                                <td>
                                                    <div class="icon-box">
                                                        <a href="{% url 'employees:edit_employee' i.id %}"><i
                                                                class="fa-solid fa-pen-to-square edit"></i></a>
                                                        <a href="{% url 'employees:delete_employee' i.id %}" class="curs-point" data-bs-toggle="modal" data-bs-target="#deleteBackdrop" id="deleteButton{{i.id}}"><i
                                                                class="fa-solid fa-trash-can del"></i></a>
                                                        {% include 'modal/link_emp_deleted_modal.html' %}
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {% endif %}
                            <div class="page-box">
                                <nav aria-label="...">
                                {% if emp_data.has_other_pages %}
                                <ul class="pagination">
                                  {% if emp_data.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link arrow" href="?page={{ emp_data.previous_page_number }}" aria-label="Previous">
                                                <i class="fa-solid fa-angle-left"></i>
                                  {% else %}
                                    <li class="page-item disabled"  aria-label="Previous"></li>
                                  {% endif %}

                                  {% for i in emp_data.paginator.page_range %}
                                    {% if emp_data.number == i %}
                                    <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ i }}</a></li>
                                    {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                  {% endfor %}

                                  {% if emp_data.has_next %}
                                    <li class="page-item">
                                        <a class="page-link arrow" href="?page={{ emp_data.next_page_number }}" aria-label="Next">
                                            <i class="fa-solid fa-angle-right"></i>
                                        </a></li>
                                  {% else %}
                                    <li class="page-item disabled" aria-label="Next"></li>
                                  {% endif %}
                                </ul>
                              {% endif %}
                              </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Script -->
    </div>
</body>

</html>
{% endblock %}